language: java

# only run build on master, all other branches should go through a PR which also triggers a build
branches:
  only:
    - master

jdk:
  - openjdk8

cache:
  directories:
    - $HOME/.m2

script:
  - mvn clean package
  - mvn cobertura:cobertura

after_success:
  - bash <(curl -s https://codecov.io/bash)
