spring:
  data:
    mongodb:
      username: admin
      password: password
      host: xbdd_mongo
      port: 27017
      authentication-database: admin

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: your-github-app-client-id
            client-secret: your-github-app-client-secret
          google:
            client-id: your-google-app-client-id
            client-secret: google-your-app-client-secret
          # facebook:
          #   client-id: your-facebook-app-client-id
          #   client-secret: your-facebook-app-client-secret
          # okta:
          #   client-id: your-okta-app-client-id
          #   client-secret: your-okta-app-client-secret

  ldap:
    embedded:
      base-dn: dc=springframework,dc=org
      ldif: classpath:test-server.ldif
      port: 8389

logging:
  file: xbdd.log

# Enable this if you want to run on https, note that the frontend .env files will need to be updated
#server:
#  port: 8443
#  ssl:
#    key-store: classpath:certs/keystore.p12
#    key-store-password: password
