<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2015 Orion Health (Orchestral Development Ltd)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<filter>
		<filter-name>xbdd.webapp.rest.BasicAuthFilter</filter-name>
		<filter-class>xbdd.webapp.rest.BasicAuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xbdd.webapp.rest.BasicAuthFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>xbdd.webapp.XbddApplication</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>xbdd.webapp.XbddApplication</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.forwardOn404</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>xbdd.webapp.XbddApplication</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Unprotected Area</web-resource-name>
			<url-pattern>/WEB-INF/jsp/secure-login/*</url-pattern>
			<url-pattern>/css/*</url-pattern>
			<url-pattern>/rest/*</url-pattern>
			<url-pattern>/webjars/bootstrap/*</url-pattern>
			<url-pattern>/favicon.ico</url-pattern>
			<url-pattern>/templates/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- The required roles for accessing the url -->
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>     <!-- Use http form based authentication -->
		<form-login-config>
			<form-login-page>/WEB-INF/jsp/secure-login/login.jsp</form-login-page>
			<form-error-page>/WEB-INF/jsp/secure-login/loginError.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<!-- Security roles referenced by this web application -->
	<security-role>
		<role-name>*</role-name>
	</security-role>
</web-app>
